@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.main-body {
    background-image: linear-gradient(to right, #847b45, #4d675a);
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.wrapper {
    position: relative;
    width: 380px;
    height: 240px;
    background: rgba(241, 239, 226, 0.9);
    margin: auto;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    transition: transform 0.3s ease-in-out;
}

.wrapper:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    width: 100%;
    margin-top: 0px; 
    padding: 10px;
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.admin-btn, .student-btn {
    background-color: #b78763;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 10px;
    margin-right: 32px;
    margin-top: 10px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.admin-btn:hover, .student-btn:hover {
    background-color: #9b6c4d;
    transform: scale(1.1);
    color: white;
}
